<p>
	You searched for <b><%= @query %></b>
</p>
<textarea id="magnetLink" class="form-control" rows="3" autofocus><%= @magnet_link %></textarea>

<script>
	$(function() {
		$('#magnetLink').select();
	});
</script

